In [37]:
import pandas as pd
import numpy as np

In [8]:
array = np.arange(5)

series = pd.Series(array)

In [9]:
pd.Series(np.arange(5), name='Test Array')

0    0
1    1
2    2
3    3
4    4
Name: Test Array, dtype: int64

In [10]:
series.values

array([0, 1, 2, 3, 4])

In [11]:
series.mean()

np.float64(2.0)

In [14]:
series.index
series.index = ['10','20','30','40','50']

series

10    0
20    1
30    2
40    3
50    4
dtype: int64

In [16]:
series.name = 'special series'

series

10    0
20    1
30    2
40    3
50    4
Name: special series, dtype: int64

In [17]:
series.dtype

dtype('int64')

In [21]:
ages = pd.Series(
    [25, 30, 35, 40, 45, 25, 30], 
    index=['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob']
)

In [25]:
ages.loc[['Alice', 'Bob']]

Alice    25
Alice    25
Bob      30
Bob      30
dtype: int64

In [27]:
unique_ages = ages.reset_index()

unique_ages

     index   0
0    Alice  25
1      Bob  30
2  Charlie  35
3    David  40
4      Eve  45
5    Alice  25
6      Bob  30

In [29]:
import pandas as pd

ages = pd.Series(
    [42, 37, 29, 52, 26, 42, 37], 
    index=['Beth', 'Fred', 'Max', 'Janet', 'Liz', 'Juan', 'Xiu']
)

ages = ages.sort_values()

Liz      26
Max      29
Xiu      37
Fred     37
Juan     42
Beth     42
Janet    52
dtype: int64

In [31]:
age_data = pd.Series(['Adult 25', 'Child 12', 'Adult 64', 'Teen 17', 'Adult 45'])
age_data

0    Adult 25
1    Child 12
2    Adult 64
3     Teen 17
4    Adult 45
dtype: object

In [33]:
# Split the string to separate the age from the labels
split_data = age_data.str.split(' ',expand=True)
split_data

       0   1
0  Adult  25
1  Child  12
2  Adult  64
3   Teen  17
4  Adult  45

In [35]:
# Convert the second column to numeric to represent age.
# Note: Column '1' after the split contains the age data.
split_data[1].astype(int)

0    25
1    12
2    64
3    17
4    45
Name: 1, dtype: int64

In [40]:
# Provided series of age groups
age_groups = pd.Series([
    'Adult', 'Child', 'Adult', 'Teen', 'Adult', 
    'Child', 'Teen', 'Adult', 'Adult', 'Adult'
])

age_groups

0    Adult
1    Child
2    Adult
3     Teen
4    Adult
5    Child
6     Teen
7    Adult
8    Adult
9    Adult
dtype: object

In [46]:
# Calculate the proportion of each age group
age_group_proportions = age_groups.value_counts(normalize=True)

age_group_proportions

count
2    0.666667
6    0.333333
Name: proportion, dtype: float64

In [45]:
# Output the proportions
age_groups = age_group_proportions