In [1]:
import pandas as pd

In [ ]:
df = pd.read_excel(r"..\project_data\premier_league_games_full.xlsx")
df.head()

In [46]:
df.groupby("HomeTeam")["HomeGoals"].sum().head() #Series
df.groupby("HomeTeam")[["HomeGoals"]].sum().head() #Dataframe
df.groupby("HomeTeam")[["HomeGoals"]].sum().head().sort_values('HomeGoals', ascending=False)

                  HomeGoals
HomeTeam
Arsenal                 306
Aston Villa             179
Blackburn Rovers         98
Birmingham City          38
Blackpool                30

In [64]:
df.groupby(["HomeTeam", "season"])[["HomeGoals"]].sum()
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum()
df.groupby(["season", "HomeTeam"], as_index=False)[["HomeGoals"]].sum()
df.groupby(["season", "HomeTeam"], as_index=False)[["HomeGoals"]].sum().query("HomeTeam == 'Arsenal'")

        season HomeTeam  HomeGoals
0    2008/2009  Arsenal         31
20   2009/2010  Arsenal         48
40   2010/2011  Arsenal         33
60   2011/2012  Arsenal         39
80   2012/2013  Arsenal         47
100  2013/2014  Arsenal         36
120  2014/2015  Arsenal         41
140  2015/2016  Arsenal         31

In [82]:
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().head()
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc['2008/2009']
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc['2008/2009': "2010/2011"]
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc[('2008/2009', "Arsenal")]
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc[('2008/2009', "Arsenal"): ('2008/2009', "Bolton Wanderers")]

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21

In [98]:
df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']})
df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']}).iloc[1, :]
df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']}).loc["2010/2011", ('HomeGoals', 'mean')].head()

HomeTeam
Arsenal             1.736842
Aston Villa         1.368421
Birmingham City     1.000000
Blackburn Rovers    1.157895
Blackpool           1.578947
Name: (HomeGoals, mean), dtype: float64

In [ ]:
df1 = df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']})
df1.droplevel(0, axis=1)
df1.head()