In [1]:
import pandas as pd

In [11]:
df = pd.read_excel(r"C:\Users\User\OneDrive\Documentos\Data_Analytcs\Projetos\project_data\premier_league_games_full.xlsx")
df.head()

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2

In [46]:
df.groupby("HomeTeam")["HomeGoals"].sum().head() #Series
df.groupby("HomeTeam")[["HomeGoals"]].sum().head() #Dataframe
df.groupby("HomeTeam")[["HomeGoals"]].sum().head().sort_values('HomeGoals', ascending=False)

                  HomeGoals
HomeTeam
Arsenal                 306
Aston Villa             179
Blackburn Rovers         98
Birmingham City          38
Blackpool                30

In [64]:
df.groupby(["HomeTeam", "season"])[["HomeGoals"]].sum()
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum()
df.groupby(["season", "HomeTeam"], as_index=False)[["HomeGoals"]].sum()
df.groupby(["season", "HomeTeam"], as_index=False)[["HomeGoals"]].sum().query("HomeTeam == 'Arsenal'")

        season HomeTeam  HomeGoals
0    2008/2009  Arsenal         31
20   2009/2010  Arsenal         48
40   2010/2011  Arsenal         33
60   2011/2012  Arsenal         39
80   2012/2013  Arsenal         47
100  2013/2014  Arsenal         36
120  2014/2015  Arsenal         41
140  2015/2016  Arsenal         31

In [82]:
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().head()
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc['2008/2009']
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc['2008/2009': "2010/2011"]
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc[('2008/2009', "Arsenal")]
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc[('2008/2009', "Arsenal"): ('2008/2009', "Bolton Wanderers")]

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21

In [98]:
df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']})
df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']}).iloc[1, :]
df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']}).loc["2010/2011", ('HomeGoals', 'mean')].head()

HomeTeam
Arsenal             1.736842
Aston Villa         1.368421
Birmingham City     1.000000
Blackburn Rovers    1.157895
Blackpool           1.578947
Name: (HomeGoals, mean), dtype: float64

In [128]:
df1 = df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']})
df2 = df1.droplevel(0, axis=1)
df2
df2.swaplevel()
df2.reset_index()

        season              HomeTeam  sum      mean
0    2008/2009               Arsenal   31  1.631579
1    2008/2009           Aston Villa   27  1.421053
2    2008/2009      Blackburn Rovers   22  1.157895
3    2008/2009      Bolton Wanderers   21  1.105263
4    2008/2009               Chelsea   33  1.736842
..         ...                   ...  ...       ...
155  2015/2016          Swansea City   20  1.052632
156  2015/2016     Tottenham Hotspur   35  1.842105
157  2015/2016               Watford   20  1.052632
158  2015/2016  West Bromwich Albion   20  1.052632
159  2015/2016       West Ham United   34  1.789474

[160 rows x 4 columns]

In [12]:
(df
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg("sum")
)

,season,HomeTeam,id,league_name,AwayTeam,HomeGoals,AwayGoals
0,2008/2009,Arsenal,36128,England Premier LeagueEngland Premier LeagueEn...,West Bromwich AlbionTottenham HotspurMancheste...,31,16
1,2008/2009,Aston Villa,36136,England Premier LeagueEngland Premier LeagueEn...,Manchester CityBlackburn RoversMiddlesbroughMa...,27,21
2,2008/2009,Blackburn Rovers,36781,England Premier LeagueEngland Premier LeagueEn...,ChelseaSunderlandLiverpoolStoke CityHull CityM...,22,23
3,2008/2009,Bolton Wanderers,36214,England Premier LeagueEngland Premier LeagueEn...,Stoke CityEvertonManchester CityLiverpoolChels...,21,21
4,2008/2009,Chelsea,36552,England Premier LeagueEngland Premier LeagueEn...,PortsmouthSunderlandNewcastle UnitedArsenalWes...,33,12
...,...,...,...,...,...,...,...
155,2015/2016,Swansea City,87241,England Premier LeagueEngland Premier LeagueEn...,ArsenalBournemouthLeicester CityWest Ham Unite...,20,20
156,2015/2016,Tottenham Hotspur,87218,England Premier LeagueEngland Premier LeagueEn...,Aston VillaWest Ham UnitedChelseaNewcastle Uni...,35,15
157,2015/2016,Watford,87142,England Premier LeagueEngland Premier LeagueEn...,West Ham UnitedManchester UnitedNorwich CityLi...,20,19
158,2015/2016,West Bromwich Albion,87064,England Premier LeagueEngland Premier LeagueEn...,Manchester CityLeicester CityArsenalTottenham ...,20,26
159,2015/2016,West Ham United,86965,England Premier LeagueEngland Premier LeagueEn...,ChelseaEvertonWest Bromwich AlbionStoke CitySo...,34,26

In [13]:
(df
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg("sum", "mean")
)

        season              HomeTeam     id  HomeGoals  AwayGoals
0    2008/2009               Arsenal  36128         31         16
1    2008/2009           Aston Villa  36136         27         21
2    2008/2009      Blackburn Rovers  36781         22         23
3    2008/2009      Bolton Wanderers  36214         21         21
4    2008/2009               Chelsea  36552         33         12
..         ...                   ...    ...        ...        ...
155  2015/2016          Swansea City  87241         20         20
156  2015/2016     Tottenham Hotspur  87218         35         15
157  2015/2016               Watford  87142         20         19
158  2015/2016  West Bromwich Albion  87064         20         26
159  2015/2016       West Ham United  86965         34         26

[160 rows x 5 columns]

In [14]:
(df
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg({"HomeGoals": ["sum", "mean"],
       "AwayGoals": ["sum", "count"]})
)

        season              HomeTeam HomeGoals           AwayGoals
                                           sum      mean       sum count
0    2008/2009               Arsenal        31  1.631579        16    19
1    2008/2009           Aston Villa        27  1.421053        21    19
2    2008/2009      Blackburn Rovers        22  1.157895        23    19
3    2008/2009      Bolton Wanderers        21  1.105263        21    19
4    2008/2009               Chelsea        33  1.736842        12    19
..         ...                   ...       ...       ...       ...   ...
155  2015/2016          Swansea City        20  1.052632        20    19
156  2015/2016     Tottenham Hotspur        35  1.842105        15    19
157  2015/2016               Watford        20  1.052632        19    19
158  2015/2016  West Bromwich Albion        20  1.052632        26    19
159  2015/2016       West Ham United        34  1.789474        26    19

[160 rows x 6 columns]

In [16]:
(df
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg(home_goals_sum = ("HomeGoals","sum"),
     away_goal_sum = ("HomeGoals", "sum"))
)

        season              HomeTeam  home_goals_sum  away_goal_sum
0    2008/2009               Arsenal              31             31
1    2008/2009           Aston Villa              27             27
2    2008/2009      Blackburn Rovers              22             22
3    2008/2009      Bolton Wanderers              21             21
4    2008/2009               Chelsea              33             33
..         ...                   ...             ...            ...
155  2015/2016          Swansea City              20             20
156  2015/2016     Tottenham Hotspur              35             35
157  2015/2016               Watford              20             20
158  2015/2016  West Bromwich Albion              20             20
159  2015/2016       West Ham United              34             34

[160 rows x 4 columns]

In [17]:
df

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2
...,...,...,...,...,...,...,...
3035,4764,England Premier League,2015/2016,Southampton,Leicester City,2,2
3036,4765,England Premier League,2015/2016,Swansea City,Stoke City,0,1
3037,4766,England Premier League,2015/2016,Tottenham Hotspur,Liverpool,0,0
3038,4767,England Premier League,2015/2016,Watford,Arsenal,0,3
3039,4768,England Premier League,2015/2016,West Bromwich Albion,Sunderland,1,0

## Transform

In [26]:
(df.assign(
    avg_team_goals = df.groupby(["HomeTeam"])["HomeGoals"].transform("mean"))
)

(df.assign(
    avg_team_goals = df.groupby(["HomeTeam"])["HomeGoals"].transform("mean"),
    difference = lambda x: x["HomeGoals"] - x["avg_team_goals"])
)

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals,avg_team_goals,difference
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1,2.223684,-1.223684
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0,2.013158,-1.013158
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1,1.210526,-1.210526
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1,1.466165,0.533835
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2,1.177632,2.822368
...,...,...,...,...,...,...,...,...,...
3035,4764,England Premier League,2015/2016,Southampton,Leicester City,2,2,1.763158,0.236842
3036,4765,England Premier League,2015/2016,Swansea City,Stoke City,0,1,1.421053,-1.421053
3037,4766,England Premier League,2015/2016,Tottenham Hotspur,Liverpool,0,0,1.677632,-1.677632
3038,4767,England Premier League,2015/2016,Watford,Arsenal,0,3,1.052632,-1.052632
3039,4768,England Premier League,2015/2016,West Bromwich Albion,Sunderland,1,0,1.330827,-0.330827

In [25]:
(df.assign(
    avg_team_goals = df.groupby(["HomeTeam"])["HomeGoals"]
    .transform("mean"))
    .query("HomeTeam == 'Arsenal'")
)

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals,avg_team_goals
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0,2.013158
11,1740,England Premier League,2008/2009,Arsenal,Tottenham Hotspur,4,4,2.013158
30,1759,England Premier League,2008/2009,Arsenal,Manchester United,2,1,2.013158
41,1770,England Premier League,2008/2009,Arsenal,Aston Villa,0,2,2.013158
71,1800,England Premier League,2008/2009,Arsenal,Wigan Athletic,1,0,2.013158
...,...,...,...,...,...,...,...,...
2930,4659,England Premier League,2015/2016,Arsenal,Crystal Palace,1,1,2.013158
2950,4679,England Premier League,2015/2016,Arsenal,Norwich City,1,0,2.013158
2970,4699,England Premier League,2015/2016,Arsenal,Aston Villa,4,0,2.013158
2990,4719,England Premier League,2015/2016,Arsenal,Stoke City,2,0,2.013158
3020,4749,England Premier League,2015/2016,Arsenal,Manchester United,3,0,2.013158

In [28]:
df1 = (df.assign(
    avg_team_goals = df.groupby(["HomeTeam"])["HomeGoals"].transform("mean"),
    difference = lambda x: x["HomeGoals"] - x["avg_team_goals"])
)

In [36]:
(df1
    .groupby(["HomeTeam", "AwayTeam"])
    .agg({"difference":"mean"})
    .sort_values("difference")    
)

                                             difference
HomeTeam                AwayTeam
Chelsea                 Bournemouth           -2.190789
Southampton             Wigan Athletic        -1.763158
                        Cardiff City          -1.763158
Leicester City          Hull City             -1.657895
                        Manchester City       -1.657895
...                                                 ...
Wolverhampton Wanderers Blackpool              2.912281
Fulham                  Queens Park Rangers    2.982456
Everton                 Blackpool              3.302632
Leicester City          Queens Park Rangers    3.342105
Arsenal                 Blackpool              3.986842

[932 rows x 1 columns]

## Pivot Tables

In [46]:
(
    df.pivot_table(index="HomeTeam",
             columns="season",
             values="HomeGoals",
             aggfunc="sum")
)   

(
    df.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']")
      .pivot_table(index="HomeTeam",
             columns="season",
             values="HomeGoals",
             aggfunc="sum",
             margins=True)
)

season,2008/2009,2009/2010,2010/2011,2011/2012,2012/2013,2013/2014,2014/2015,2015/2016,All
HomeTeam,,,,,,,,,
Arsenal,31,48,33,39,47,36,41,31,306
Chelsea,33,68,39,41,41,43,36,32,333
Everton,31,35,31,28,33,38,27,35,258
All,95,151,103,108,121,117,104,98,897

## Mult Aggregations Pivot Table

In [48]:
(
    df.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']")
      .pivot_table(index="HomeTeam",
             columns="season",
             values="HomeGoals",
             aggfunc=["sum", "mean"],
             margins=True)
)

               sum                                                    \
season   2008/2009 2009/2010 2010/2011 2011/2012 2012/2013 2013/2014
HomeTeam
Arsenal         31        48        33        39        47        36
Chelsea         33        68        39        41        41        43
Everton         31        35        31        28        33        38
All             95       151       103       108       121       117

                                       mean                                \
season   2014/2015 2015/2016  All 2008/2009 2009/2010 2010/2011 2011/2012
HomeTeam
Arsenal         41        31  306  1.631579  2.526316  1.736842  2.052632
Chelsea         36        32  333  1.736842  3.578947  2.052632  2.157895
Everton         27        35  258  1.631579  1.842105  1.631579  1.473684
All            104        98  897  1.666667  2.649123  1.807018  1.894737


season   2012/2013 2013/2014 2014/2015 2015/2016       All
HomeTeam
Arsenal   2.473684  1.894737  2.157895  1.631579  2.013158
Chelsea   2.157895  2.263158  1.894737  1.684211  2.190789
Everton   1.736842  2.000000  1.421053  1.842105  1.697368
All       2.122807  2.052632  1.824561  1.719298  1.967105

## HeatMaps Pivot Table

In [54]:
(
    df.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']")
      .pivot_table(index="HomeTeam",
             columns="season",
             values="HomeGoals",
             aggfunc="mean",
             margins=True)
      .style.background_gradient(cmap="RdYlGn", axis=1)
)

## Melt

In [71]:
(
    df.query("HomeTeam in ['Arsenal', 'Chelsea', 'Everton']")
      .pivot_table(index="HomeTeam",
             columns="season",
             values="HomeGoals",
             aggfunc="mean")
    .reset_index()
    .melt(id_vars="HomeTeam",
         value_vars=["2008/2009", "2009/2010", "2010/2011"],
         value_name= "avg_goals")
    .style.background_gradient(cmap="RdYlGn", axis=None)
)