In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

pd.set_option('display.expand_frame_repr', False)

## Exploring data frame

In [2]:
# Open the xlxs file by travelling to its directory
df = pd.read_excel('../../../Python/Data_Science/Data/Run Times.xlsx')
print(df)

FileNotFoundError: [Errno 2] No such file or directory: '../../../Python/Data_Science/Data/Run Times.xlsx'

In [ ]:
# To check the types of the columns, dtypes or info() are usefull. It is always a good practice to check before proceeding the analysis
print('The data types for this df are:')
print(df.dtypes,'\n')

print('-----------------------------------','\n')
print('The data infor for this df are:')
print(df.info())

In [ ]:
# head() allow us to see the first 5 rows of the data
df.head()
print(df.head())

In [ ]:
# This code is removing the $ from the fields and transforming it into a float column
df.Fee = pd.to_numeric(df.Fee.str.replace('$',''))
# Checking it
print(df)

In [ ]:
# Checking converstion of the Fee colum from str to numeric float

#df.Fee.info()
#df['Fee'].info()
'''
It is possible to visualize columns from a DataFrame 
using .ColumnName or [ColumnName] after the DataFrame Name

'''

print(df.Fee.info())

In [ ]:
print(df,'\n')

print('Looking into Warm Up Time column')
print(df['Warm Up Time'])

In [ ]:
#pd.to_numeric(df['Warm Up Time'], errors='coerce')
#This code is first converting the column into str to remove 'min' and then converting the remain info into float
df['Warm Up Time'] = pd.to_numeric(df['Warm Up Time'].astype('str').str.replace('min',''))

# Checking
print('Checking Warm Up time convertion into float','\n')
print(df)

In [ ]:
# This code is converting the Rain column from boolean into integer
df.Rain = df.Rain.astype('int')
print('Checking Rain convertion into Integer', '\n')
print(df)

### Missing Data

In [ ]:
# Numpy and Pandas representation of non values. It is common seeing NaN from Numpy displayed.
np.NaN
pd.NA

### Identifying Missing Data

The easiest way to identify missing data is with the **.isna()** method. It is posible to use **info()** or **.value_counts(dropna=False)**

`df.isna()`

`df.isna().sum()`

`df[df.isna().any(axis=1)]`

### Missing Data Demo

In [ ]:
# Open the xlxs file by travelling to its directory
df = pd.read_excel('../../../Python/Data_Science/Data/Student Grades.xlsx')
print(df.tail())

In [ ]:
print('Do not undestood this one very well')
print(df.value_counts())

In [ ]:
print('Checking how many times the items are repetead in a column')
print(df.Year.value_counts())

In [ ]:
print('Ckecking including also NaN values')
df.Year.value_counts(dropna=False)

In [ ]:
print('Checking .isna() method')
print(df.isna()) # It returns boolean

In [ ]:
print('Checking .isna() with .sum()')
print(df.isna().sum()) # This sum up all the True values

In [ ]:
print('Checking .any() Method')
print(df.isna().any(axis=1)) # This line is not clear to me

In [ ]:
print('Checking .any() method for the entire df')
print(df[df.isna().any(axis=1)]) #here it return all rows with one NaN value.

### Handling Missing Data

There are multiple ways to **handle missing data**:
- Keep the missing data as is
- remove an entire row or column
- Input missing numerical data with 0 or average, mode, etc.
- Resolve the missing data based on domain expertise

### Keep Missing data

It is still possible to perform calculation in columns with `NaN`.

### Pro Tip: Keeping Non-Missing Data

There is **.notna()** that keeps non-missing data insted

In [ ]:
print('Ckecking .notna() on Year column')
print(df[df['Year'].notna()]) # it is possible to checke its effectiveness by the index numbers

### Removing Missing Data

In [ ]:
print('Checking rows with NaN','\n')
print(df.tail())

In [ ]:
print('Checking .dropna() removing any row with NaN value')
print(df.dropna().tail(), '\n') # Removing any rows with NaN values

In [ ]:
print('Checking .dropna() with thresh')
print(df.dropna(thresh=2).tail(), '\n') # thresh = n, if the row more than n NaN, remove the row

In [ ]:
print('Checking .dropna() allong with subset')
print(df.dropna(subset=['Year']).head()) # Subset allow us to choose the column

In [ ]:
print('Checking this chain of methods removing NaN from selected columns')
print(df[df.isna().any(axis=1)].dropna(subset=['Student', 'Class']))

In [ ]:
# df = dropna(subset=['Student', 'Class'])) not doing it now. Assing the udpates to the df
# df.dropna(subset=['Student', 'Class'], inplace=True) Inplace assing the updates to my df. Not doing it.

### Imputing Missing Data

The **.fillna()** method imputes missing data with an appropriate value.

`df['Income'] = df['Income'].fillna(df['Income'].median())`

In [ ]:
print('Checking Grade Column')
print(df.Grade)

In [ ]:
print('Checking Grade Column using .isna() method')
print(df[df.Grade.isna()])

In [ ]:
print('Checking the mean of Grade Column to full fill the NaN cells')
round(df.Grade.mean(),2)

In [ ]:
#df.Grade.fillna(round(df.Grade.mean(), inplace=True, 2))

In [ ]:
print('Checking Grade Column')
print(df.Grade)

In [ ]:
print('Checking Grade Column without NaN')
print(df.Grade.fillna(round(df.Grade.mean( ),2)))

### Resolving Missing Data

Another alternative to **resolve missing data** is through domain expertise. It is possible to use **.loc[]**.

In [ ]:
print('Checking Data Frame')
print(df[df.isna().any(axis=1)])

In [ ]:
print('Checking Year column')
print(df[df.Class == 'Freshman Seminar'])

In [ ]:
#df.loc[7, 'year'] = 'freshman' Confusing for me

In [ ]:
df.Year = np.where(df.Year.isna(), 'Freshman', df.Year) # .where() method are powerfull to update columns
print(df)

### Inconsistent text & Typos

Inconsistent text & typos in a data set are represented by values that are either icorrect by a few digits/ characters or incosistent with the rest of a column. 

- For categorical data use `.value_counts()`

- For numerical data use `.describe()`

In [ ]:
df = pd.read_excel('../../../Python/Data_Science/Data/Student Grades.xlsx')

# Checking DataFrame
print(df.head())

In [ ]:
#Checking Class columns to see each category 
df.Class.value_counts()

# Identified EDA and Python

In [ ]:
df[df.Class.isin(['Exploratory Data Analysis','EDA'])]

# EDA and Exploratory Data Analysis are the same category

In [ ]:
df[df.Class.isin(['Intro to Python','Python'])]

# Python and Intro to Python are the same category

In [ ]:
df['Grade'].describe()

# The max value is to high. Need to be checked

In [ ]:
df[df['Grade'] > 100]

# Check student Ella

### Handling inconsistent text & Typos

it is possible to fix inconsistnt text & typos by:

1. .loc[]
2. np.where() `np.where(condition, if_true, if_false)`
3. .map()
4. String methods

In [ ]:
# np.where()
# update values based on a logical condition

# Checking categories
df.Class.value_counts()

# Changing EDA category to Exploratory Data Analysis
df.Class = np.where(df.Class == 'EDA', 'Exploratory Data Analysis', df.Class)

# Cheking chaging
df.Class.value_counts()

In [ ]:
# Changing EDA category to Exploratory Data Analysis
df.Class = np.where(df.Class == 'Python', 'Intro to Python', df.Class)

# Cheking chaging
df.Class.value_counts()

In [ ]:
# Checking grade values
df.Grade.describe()

# Changing grade over 100
df.Grade = np.where(df.Grade > 100, 100, df.Grade) 

# # Checking changings
df.Grade.describe()

### Map values

Use .map() to map values from one set of values to another set of values.

In [ ]:
df = pd.read_excel('../../../Python/Data_Science/Data/Student Grades.xlsx')

# Checking DataFrame
print(df.head())

In [ ]:
# Checking class category
df.Class.value_counts()

In [ ]:
# Creating a dic to map class columns
class_mapping = {
    'Intro to Python': 'Intro to Python',
    'Intro to SQL': 'Intro to SQL',
    'Freshman Seminar': 'Freshman Seminar',
    'Exploratory Data Analysis': 'Exploratory Data Analysis',
    'Python': 'Intro to Python'
}

# Mapping class_mapping with class column 
df.Class = df.Class.map(class_mapping)

# Checking update
df.Class.value_counts()

### Cleaning text

String methods are commonly used to **clean text** and standardize it for analysis

In [ ]:
df = pd.read_excel('../../../Python/Data_Science/Data/Run Times.xlsx')


# Cheching dataframe
df.head()

In [ ]:
# method chaining on location column
df['Location'] =(
                    df['Location']
                    .str.lower()
                    .str.replace('the','')
                    .str.strip('“”')
                )

df.head()

### Duplicate Data

Duplicate data represents the presence of one or more redudant rows that contain the same information as another, and can therefore be removed.

Use `.duplicated()` to identify duplicate rows of data.

In [ ]:
df = pd.read_excel('../../../Python/Data_Science/Data/Student Grades.xlsx')

# Cheching dataframe
df.head()

In [ ]:
df[df.duplicated(keep=False)]

In [ ]:
# removing duplicated data

df = (
    df
    .drop_duplicates()
    .reset_index()
)

df

### Outliers

An outlier is a value in a data set that is much bigger or smaller than the others

In [ ]:
# Histograms
import seaborn as sns

df = pd.read_excel('../../../Python/Data_Science/Data/Student Grades.xlsx')

# Cheching dataframe
df.head()

sns.histplot(df, binwidth=1);

In [ ]:
df.hist(bins=155);

In [ ]:
df.hist();

In [ ]:
# Boxplots

sns.boxplot(x=df.Grade)

In [ ]:
q25, q50, q75 = np.percentile(df.Grade, (25, 50, 75))

q25

In [ ]:
iqr = q75 - q25

In [ ]:
min_grade = q25 - 1.5*iqr
max_grade = q75 + 1.5*iqr

In [ ]:
min_grade, q25, q50, q75, max_grade

In [ ]:
# Standard Deviation
mean = np.mean(df.Grade)

sd = np.std(df.Grade)

mean, sd

In [ ]:
[grade for grade in df.Grade if (grade < mean - 3*sd) or (grade > mean + 3*sd)]

In [ ]:
[grade for grade in df.Grade if (grade < mean - 2*sd) or (grade > mean + 2*sd)]

In [3]:
[grade for grade in df.Grade if (grade < mean - 1*sd) or (grade > mean + 1*sd)]

NameError: name 'df' is not defined

### Dealing with outliers

In [ ]:
df = pd.read_excel('../../../Python/Data_Science/Data/Student Grades.xlsx').dropna()
df.head()

In [ ]:
df.shape

In [ ]:
df[df.Grade < 60]

In [ ]:
df.drop([37, 56])
df[df.Grade >= 60]

In [ ]:
min_grade = df[df.Grade >= 60].Grade.min()
min_grade

In [4]:
df.Grade = np.where(df.Grade < 60, min_grade, df.Grade)
df.Grade

NameError: name 'df' is not defined

In [ ]:
df[df.Student == 'John']

In [ ]:
df.loc[37, 'Grade'] = 74

In [5]:
df[df.Student == 'John']

NameError: name 'df' is not defined

In [ ]:
# missing values
df[df.isna().any(axis=1)]

In [6]:
# inconsistent text and typos
df.Class.value_counts()

NameError: name 'df' is not defined