In [1]:
import pandas as pd

In [11]:
df = pd.read_excel(r"C:\Users\User\OneDrive\Documentos\Data_Analytcs\Projetos\project_data\premier_league_games_full.xlsx")
df.head()

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2

In [46]:
df.groupby("HomeTeam")["HomeGoals"].sum().head() #Series
df.groupby("HomeTeam")[["HomeGoals"]].sum().head() #Dataframe
df.groupby("HomeTeam")[["HomeGoals"]].sum().head().sort_values('HomeGoals', ascending=False)

                  HomeGoals
HomeTeam
Arsenal                 306
Aston Villa             179
Blackburn Rovers         98
Birmingham City          38
Blackpool                30

In [64]:
df.groupby(["HomeTeam", "season"])[["HomeGoals"]].sum()
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum()
df.groupby(["season", "HomeTeam"], as_index=False)[["HomeGoals"]].sum()
df.groupby(["season", "HomeTeam"], as_index=False)[["HomeGoals"]].sum().query("HomeTeam == 'Arsenal'")

        season HomeTeam  HomeGoals
0    2008/2009  Arsenal         31
20   2009/2010  Arsenal         48
40   2010/2011  Arsenal         33
60   2011/2012  Arsenal         39
80   2012/2013  Arsenal         47
100  2013/2014  Arsenal         36
120  2014/2015  Arsenal         41
140  2015/2016  Arsenal         31

In [82]:
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().head()
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc['2008/2009']
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc['2008/2009': "2010/2011"]
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc[('2008/2009', "Arsenal")]
df.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum().loc[('2008/2009', "Arsenal"): ('2008/2009', "Bolton Wanderers")]

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21

In [98]:
df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']})
df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']}).iloc[1, :]
df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']}).loc["2010/2011", ('HomeGoals', 'mean')].head()

HomeTeam
Arsenal             1.736842
Aston Villa         1.368421
Birmingham City     1.000000
Blackburn Rovers    1.157895
Blackpool           1.578947
Name: (HomeGoals, mean), dtype: float64

In [128]:
df1 = df.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']})
df2 = df1.droplevel(0, axis=1)
df2
df2.swaplevel()
df2.reset_index()

        season              HomeTeam  sum      mean
0    2008/2009               Arsenal   31  1.631579
1    2008/2009           Aston Villa   27  1.421053
2    2008/2009      Blackburn Rovers   22  1.157895
3    2008/2009      Bolton Wanderers   21  1.105263
4    2008/2009               Chelsea   33  1.736842
..         ...                   ...  ...       ...
155  2015/2016          Swansea City   20  1.052632
156  2015/2016     Tottenham Hotspur   35  1.842105
157  2015/2016               Watford   20  1.052632
158  2015/2016  West Bromwich Albion   20  1.052632
159  2015/2016       West Ham United   34  1.789474

[160 rows x 4 columns]

In [12]:
(df
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg("sum")
)

,season,HomeTeam,id,league_name,AwayTeam,HomeGoals,AwayGoals
0,2008/2009,Arsenal,36128,England Premier LeagueEngland Premier LeagueEn...,West Bromwich AlbionTottenham HotspurMancheste...,31,16
1,2008/2009,Aston Villa,36136,England Premier LeagueEngland Premier LeagueEn...,Manchester CityBlackburn RoversMiddlesbroughMa...,27,21
2,2008/2009,Blackburn Rovers,36781,England Premier LeagueEngland Premier LeagueEn...,ChelseaSunderlandLiverpoolStoke CityHull CityM...,22,23
3,2008/2009,Bolton Wanderers,36214,England Premier LeagueEngland Premier LeagueEn...,Stoke CityEvertonManchester CityLiverpoolChels...,21,21
4,2008/2009,Chelsea,36552,England Premier LeagueEngland Premier LeagueEn...,PortsmouthSunderlandNewcastle UnitedArsenalWes...,33,12
...,...,...,...,...,...,...,...
155,2015/2016,Swansea City,87241,England Premier LeagueEngland Premier LeagueEn...,ArsenalBournemouthLeicester CityWest Ham Unite...,20,20
156,2015/2016,Tottenham Hotspur,87218,England Premier LeagueEngland Premier LeagueEn...,Aston VillaWest Ham UnitedChelseaNewcastle Uni...,35,15
157,2015/2016,Watford,87142,England Premier LeagueEngland Premier LeagueEn...,West Ham UnitedManchester UnitedNorwich CityLi...,20,19
158,2015/2016,West Bromwich Albion,87064,England Premier LeagueEngland Premier LeagueEn...,Manchester CityLeicester CityArsenalTottenham ...,20,26
159,2015/2016,West Ham United,86965,England Premier LeagueEngland Premier LeagueEn...,ChelseaEvertonWest Bromwich AlbionStoke CitySo...,34,26

In [13]:
(df
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg("sum", "mean")
)

        season              HomeTeam     id  HomeGoals  AwayGoals
0    2008/2009               Arsenal  36128         31         16
1    2008/2009           Aston Villa  36136         27         21
2    2008/2009      Blackburn Rovers  36781         22         23
3    2008/2009      Bolton Wanderers  36214         21         21
4    2008/2009               Chelsea  36552         33         12
..         ...                   ...    ...        ...        ...
155  2015/2016          Swansea City  87241         20         20
156  2015/2016     Tottenham Hotspur  87218         35         15
157  2015/2016               Watford  87142         20         19
158  2015/2016  West Bromwich Albion  87064         20         26
159  2015/2016       West Ham United  86965         34         26

[160 rows x 5 columns]

In [14]:
(df
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg({"HomeGoals": ["sum", "mean"],
       "AwayGoals": ["sum", "count"]})
)

        season              HomeTeam HomeGoals           AwayGoals
                                           sum      mean       sum count
0    2008/2009               Arsenal        31  1.631579        16    19
1    2008/2009           Aston Villa        27  1.421053        21    19
2    2008/2009      Blackburn Rovers        22  1.157895        23    19
3    2008/2009      Bolton Wanderers        21  1.105263        21    19
4    2008/2009               Chelsea        33  1.736842        12    19
..         ...                   ...       ...       ...       ...   ...
155  2015/2016          Swansea City        20  1.052632        20    19
156  2015/2016     Tottenham Hotspur        35  1.842105        15    19
157  2015/2016               Watford        20  1.052632        19    19
158  2015/2016  West Bromwich Albion        20  1.052632        26    19
159  2015/2016       West Ham United        34  1.789474        26    19

[160 rows x 6 columns]

In [16]:
(df
 .groupby(["season", "HomeTeam"], as_index=False)
 .agg(home_goals_sum = ("HomeGoals","sum"),
     away_goal_sum = ("HomeGoals", "sum"))
)

        season              HomeTeam  home_goals_sum  away_goal_sum
0    2008/2009               Arsenal              31             31
1    2008/2009           Aston Villa              27             27
2    2008/2009      Blackburn Rovers              22             22
3    2008/2009      Bolton Wanderers              21             21
4    2008/2009               Chelsea              33             33
..         ...                   ...             ...            ...
155  2015/2016          Swansea City              20             20
156  2015/2016     Tottenham Hotspur              35             35
157  2015/2016               Watford              20             20
158  2015/2016  West Bromwich Albion              20             20
159  2015/2016       West Ham United              34             34

[160 rows x 4 columns]